<f:alias map="{
		upperAlphabet : {
		1 : 'A', 2 : 'B', 3 : 'C', 4 : 'D', 5 : 'E', 6 : 'F', 7 : 'G', 8 : 'H', 9 : 'I', 10 : 'J', 11 : 'K', 12 : 'L',
		13 : 'M', 14 : 'N', 15 : 'O', 16 : 'P', 17 : 'Q', 18 : 'R', 19 : 'S', 20 : 'T', 21 : 'U', 22 : 'V', 23 : 'W', 24 : 'X', 25 : 'Y', 26 : 'Z'},
		lowerAlphabet : {
		1 : 'a', 2 : 'b', 3 : 'c', 4 : 'd', 5 : 'e', 6 : 'f', 7 : 'g', 8 : 'h', 9 : 'i', 10 : 'j', 11 : 'k', 12 : 'l',
		13 : 'm', 14 : 'n', 15 : 'o', 16 : 'p', 17 : 'q', 18 : 'r', 19 : 's', 20 : 't', 21 : 'u', 22 : 'v', 23 : 'w', 24 : 'x', 25 : 'y', 26 : 'z'}
	}">
	<ul>
		<f:for each="{upperAlphabet}" as="letter">
			<li>
				<f:if condition="{0 : arguments.firstLevelLetter} == {0 : letter}">
					<f:then>
						{letter}
					</f:then>
					<f:else>
						<f:link.action action="list" controller="Registers" arguments="{firstLevelLetter : letter, filters : {alphabet : {letterRange : '{letter}'}}}" pageUid="{settings.targetPid}">
							{letter}
						</f:link.action>
					</f:else>
				</f:if>
			</li>
		</f:for>
		<li>
			<f:link.action action="list" controller="Registers" arguments="{filters : {alphabet : {showAll : 1}}}" pageUid="{settings.targetPid}">
				<f:translate key="links.showAll" />
			</f:link.action>
		</li>
	</ul>
	<f:if condition="{arguments.firstLevelLetter}">
		<ul>
			<f:for each="{lowerAlphabet}" as="letter">
				<li>
					<f:if condition="{0 : arguments.secondLevelLetter} == {0 : letter}">
						<f:then>
							{arguments.firstLevelLetter}{letter}
						</f:then>
						<f:else>
							<f:link.action action="list" controller="Registers" arguments="{firstLevelLetter : arguments.firstLevelLetter, secondLevelLetter : letter, filters : {alphabet : {letterRange : '{arguments.firstLevelLetter}{letter}'}}}" pageUid="{settings.targetPid}">
								{arguments.firstLevelLetter}{letter}
							</f:link.action>
						</f:else>
					</f:if>
				</li>
			</f:for>
			<li>
				<f:link.action action="list" controller="Registers" arguments="{firstLevelLetter : arguments.firstLevelLetter, filters : {alphabet : {letterRange : '{arguments.firstLevelLetter}'}}}" pageUid="{settings.targetPid}">
					<f:translate key="links.reset" />
				</f:link.action>
			</li>
		</ul>
	</f:if>
</f:alias>