<ul>
	<li>
		<f:link.action class="{f:if(condition: '{class}', then: '{class}', else: 'format')}" arguments="{arguments}" additionalParams="{type : 1987, pluginUid : settings.pluginUid}" format="tei">
			<f:translate key="general.labels.tei" />
		</f:link.action>
	</li>
	<li>
		<f:link.action class="{f:if(condition: '{class}', then: '{class}', else: 'format')}" arguments="{arguments}" additionalParams="{type : 1993, pluginUid : settings.pluginUid}" format="ead">
			<f:translate key="general.labels.ead" />
		</f:link.action>
	</li>
	<li>
		<f:link.action class="{f:if(condition: '{class}', then: '{class}', else: 'format')}" arguments="{arguments}" additionalParams="{type : 2004, pluginUid : settings.pluginUid}" format="rdf">
			<f:translate key="general.labels.rdf" />
		</f:link.action>
	</li>
	<li>
		<f:link.action class="{f:if(condition: '{class}', then: '{class}', else: 'format')}" arguments="{arguments}" additionalParams="{type : 2008, pluginUid : settings.pluginUid}" format="kml">
			<f:translate key="general.labels.kml" />
		</f:link.action>
	</li>
	<li>
		<f:link.action class="{f:if(condition: '{class}', then: '{class}', else: 'format')}" arguments="{arguments}" additionalParams="{type : 2009, pluginUid : settings.pluginUid}" format="sitemap">
			<f:translate key="general.labels.sitemap" />
		</f:link.action>
	</li>
</ul>